@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: url('https://images.unsplash.com/photo-1639452148691-2c92c8390017?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: full;
  width: full;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

@layer base {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

  .typing-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: blink-caret 0.75s step-end infinite;
  }

  /* Overlay animation */
  @keyframes right {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  .showOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  }

  .hideOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    z-index: 0;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  }
}
.londrina-sketch-regular {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(137, 148, 204);
  background: #000;
}

